@CHARSET "UTF-8";
h2{
	font-family: 'Comic Sans MS',sans-serif;
	color: blue;
	text-align: center;
}
#body{
	margin: 20px auto 20px auto;
	width: 400px;
}
#formData{
	margin: 20px auto 20px auto;
	border: thick #00CDCD solid;
}
#image{
	margin: 20px auto 20px auto;
	height: 300px;
	width: 380px;
	//border: medium black solid;
	display: block;
}
#work{
	margin-left: 10px;
}
#textAreaWork{
	margin-left: 10px;
	width: 90%;
	display: block;
	//WRAP: virtual;
}
#bodyWork{
	border: thin #00CDCD solid;
}
#formButtonBack{
	margin: -20px 10px 10px auto;
	float: left;
	padding-right: 5px;
	//display: inline;
	width: 40%;
 	height: 50px; 
 	color: blue; 
 	font-size: 20pt; 
 	background-color: #8DB6CD;
	-webkit-border-radius: 10px; 
	border: 5px solid #001100;
}
#formButtonNext{
	margin: 5px 10px 10px auto;
	float: left;
	padding-right: 5px;
	width: 40%;
 	height: 50px; 
 	color: blue; 
 	font-size: 20pt; 
 	background-color: #8DB6CD;
	-webkit-border-radius: 10px; 
	border: 5px solid #001100;
}

